/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* CSS PER PROJECT */
#projects {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 12px;
    margin: 10px;
}

.project-title, .project-subtitle {
    text-align: center;
    line-height: 150%;
}

.project-image {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.project-description, .project-link {
    padding: 0 10px;
}
