/*** CSS RESET ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

html, body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*** CSS PER PROJECT ***/
:root {
    --main-bg-color: rgb(247, 242, 235);
    --nav-color: rgba(136,86,60,1);
    --bio-color: rgb(247, 242, 235);
    --skills-color: rgb(206, 176, 152);
    --skills-logo-color: #fff;
    --projects-color: rgb(206, 176, 152);
    --contact-color: rgb(247, 242, 235);
    --text-color: #292626;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

h1, h2 {
    font-family: 'Alex Brush', cursive;
}

.title, .section-header, .menu {
    text-align: center;
}

.menu > li {
    display: inline;
}

nav {
    background-color: var(--nav-color);
}

/* BIO SECTION */
#bio {
    background-color: var(--bio-color);
}

/* SKILL SECTION */
#skills {
    display: flex;
    flex-direction: column;
    background-color: var(--skills-color);
}

.skills-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.skills-list > div {
    text-align: center;
    margin: 10px 0;
}

i {
    color: var(--skills-logo-color);
    font-size: 100px;
}

/* PROJECT SECTION */
#projects {
    display: flex;
    flex-direction: column;
    background-color: var(--projects-color);
}

.project {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 12px;
    margin: 10px;
}

.project-title, .project-subtitle {
    text-align: center;
    line-height: 150%;
}

.project-image {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.project-description, .project-link {
    padding: 0 10px;
}

/* CONTACT SECTION */
#contact {
    background-color: var(--contact-color);
}